[submodule "React-Advanced"]
	path = React-Advanced
	url = https://github.com/Marcandy/React-Advanced
[submodule "react-practice"]
	path = react-practice
	url = https://github.com/Marcandy/react-practice
